.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}
.fondo{
  height: 75.7%;
}


.card-descripcion{
  justify-content: center;
  border: 20px;
  border-color: red;
  width: 80%;
  padding: 15%;
  h1{
    color: green;
  }
  p{
    margin-top: 10%;
    font-size: 1.4em;
  }
  button{
    margin-top: 5%;
    float: right;
    background-color: green;
  }
}

.card-img {
    width: 70%;
    margin: 10%;
    margin-top: 18%;
    img {
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
    .card-img{
      display: none;
    }
  }
}

