<div class="fondo">
  <div class="container">
    <div class="card-descripcion">

      <h1>OdontoCeiba</h1><br>
      <hr>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi tempora officiis odio, aliquid minima dolorem
        distinctio laborum sed voluptas dolores aliquam, nihil, natus dolorum harum optio ex neque. Nisi, ut!
      </p>
      <button mat-raised-button color="primary">Agendar</button>

    </div>
    <div class="card-img">
      <mat-card>
        <mat-card-content>
          <img src="../../../assets/svg/doctor.svg" alt="" srcset="">
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
