
<div class="container">
  <div class="card-descripcion">


    <mat-card><h1>Agendar cita</h1><br>
      <hr>
      <mat-card-content>
        <img src="../../../assets/svg/calendar.svg" alt="" srcset="">
      </mat-card-content>
      <button mat-raised-button id="agendarTestButton" routerLink="./agendar-cita" color="primary">Agendar</button>
    </mat-card>


  </div>
  <div class="card-descripcion">


    <mat-card><h1>Consultar citas</h1><br>
      <hr>
      <mat-card-content>
        <img src="../../../assets/svg/historia.svg" alt="" srcset="">
      </mat-card-content>
      <button mat-raised-button id="consultarTestButton" routerLink="./buscar-cita" color="primary">Consultar</button>
    </mat-card>


  </div>
</div>
