
<div class="container-2">
  <div class="card-descripcion">


    <mat-card><h1>Consultar paciente</h1><br>
      <mat-card-content>
        <img src="../../../assets/svg/consultar-paciente.svg" alt="" srcset="">
      </mat-card-content>
      <button mat-raised-button routerLink="../buscar" color="primary">Consultar</button>
    </mat-card>
  </div>
</div>

<div class="container">
  <div class="card-descripcion">


    <mat-card><h1>Registrar paciente</h1><br><hr>
      <mat-card-content>
        <img src="../../../assets/svg/register.svg" alt="" srcset="">
      </mat-card-content>
      <button mat-raised-button routerLink="../crear" color="primary">Registrar</button>
    </mat-card>


  </div>
  <div class="card-descripcion">


    <mat-card><h1>Registrar historia</h1><br><hr>
      <mat-card-content>
        <img src="../../../assets/svg/historia.svg" alt="" srcset="">
      </mat-card-content>
      <button mat-raised-button routerLink="../registrar-historia" color="primary">Registrar</button>
    </mat-card>


  </div>
</div>
<div class="dsc-footer">
</div>

